:root {
  --brand-white: #ffffff;
  --brand-black: #141414;
  --brand-cyan: #46daff;
  --brand-blue: #000071;
  --brand-violet: #b900ff;

  --brand-grey-darker: #201f1f;
  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;

  --brand-gradient: linear-gradient(
    to right bottom,
    var(--brand-violet),
    var(--brand-cyan)
  );

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  --color-primary: var(--brand-cyan);
  --color-secondary: #8b98a9;

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: var(--brand-grey);
  --font-color-heading: var(--brand-black);
  --background-body: var(--brand-white);
  --background-content: var(--brand-white);
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-highlight: var(--brand-grey-dimmed);
  --border-color: var(--brand-grey-lighter);
  --box-shadow-color: rgba(0, 0, 0, 0.05);

  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --border-radius: 0.2rem;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}
